#workers
**/venv/
services/workers/.env
services/workers/.idea

#control-plane
services/control-plane/.env
services/control-plane/jwt_private.pem
services/control-plane/jwt_public.pem

#gateway
services/gateway/.env

#frontend
services/frontend/.env
services/frontend/node_modules/
services/frontend/.next/

.idea/